.loading-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
  }
  
  .div {
    text-align: center;
  }
  
  .p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 10em;
    font-weight: bold;
    transform: scale(0.5);
    color: #ee8d60;
    @media screen and (max-width: 767px) {
      font-size: 5em;
    }
  }
  
  .p:nth-child(1) {
    animation: hover 1.5s linear infinite;
  }
  
  .p:nth-child(2) {
    animation: hover 1.5s linear infinite 0.125s;
  }
  
  .p:nth-child(3) {
    animation: hover 1.5s linear infinite 0.25s;
  }
  
  .p:nth-child(4) {
    animation: hover 1.5s linear infinite 0.375s;
  }
  
  .p:nth-child(5) {
    animation: hover 1.5s linear infinite 0.5s;
  }
  
  .p:nth-child(6) {
    animation: hover 1.5s linear infinite 0.675s;
  }
  
  .p:nth-child(7) {
    animation: hover 1.5s linear infinite 0.75s;
  }
  .p:nth-child(8) {
    animation: hover 1.5s linear infinite 0.875s;
  }
  .p:nth-child(9) {
    animation: hover 1.5s linear infinite 1s;
  }
  .p:nth-child(10) {
    animation: hover 1.5s linear infinite 1.25s;
  }
  .p:nth-child(11) {
    animation: hover 1.5s linear infinite 1.375s;
  }
  .p:nth-child(12) {
    animation: hover 1.5s linear infinite 1.5s;
  }
  
  @keyframes hover {
    0% {
      transform: scale(0.5);
      color: #fff;
    }
    20% {
      transform: scale(1);
      color: #fff;
    }
    50% {
      transform: scale(0.5);
      color:#f6bb69;
    }
  }
